template(name='header')
  #top-header.navbar.navbar-fixed-top
    .navbar-inner
      .container(style='width: auto;')
        a.brand(href='#problemBk') ReactiveArray
        ul.nav(role='navigation')
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Examples
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#listExBk') List

          li.dropdown
            a#drop2.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Methods
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#nativeBk') Native Methods
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#arrayBk') .array
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#listBk') .list
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#dependBk') .depend
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#clearBk') .clear

          li.dropdown
            a#drop2.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Source
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='https://github.com/ManuelDeLeon/ReactiveArray' target="_blank") Reactive Array
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='https://github.com/ManuelDeLeon/ReactiveArray-docs' target="_blank") Documentation

        ul.nav.pull-right(role='navigation')
          li
            a(href='mailto:manueldeleon@gmail.com') Feedback