template(name='native')
  a.bookmark(id='nativeBk')
  .section
    h1 Native Methods
    p These functions are the reactive equivalent of the native Javascript array functions:
    ul
      li <b>concat(value1[, value2[, ...[, valueN]]])</b> - Returns a new array comprised of the array on which it is called joined with the array(s) and/or value(s) provided as arguments.
      li <b>indexOf(searchElement[, fromIndex = 0])</b> - Returns the first index at which a given element can be found in the array, or -1 if it is not present.
      li <b>join([separator = ','])</b> - Joins all elements of an array into a string
      li <b>lastIndexOf(searchElement[, fromIndex = arr.length])</b> - Returns the last index at which a given element can be found in the array, or -1 if it is not present. The array is searched backwards, starting at fromIndex.
      li <b>pop()</b> - Removes the last element of an array, and returns that element
      li <b>push(element1, ..., elementN)</b> - Adds new elements to the end of an array, and returns the new length
      li <b>reverse()</b> - Reverses an array in place. The first array element becomes the last and the last becomes the first.
      li <b>shift()</b> - Removes the first element from an array and returns that element. This method changes the length of the array.
      li <b>sort([compareFunction])</b> - Sorts the elements of an array in place and returns the array.
      li <b>splice(index, howMany[, element1[, ...[, elementN]]])</b> - Changes the content of an array, adding new elements while removing old elements.
      li <b>toString()</b> - Returns a string representing the specified array and its elements.
      li <b>unshift([element1[, ...[, elementN]]])</b> - Adds new elements to the beginning of an array and returns the new length.

