template(name='native')
  a.bookmark(id='nativeBk')
  .section
    h1 Native Methods
    p These functions are the reactive equivalent of the native Javascript array functions:
    ul
      li <b>concat(value1[, value2[, ...[, valueN]]])</b> - Returns a new array comprised of the array on which it is called joined with the array(s) and/or value(s) provided as arguments.
      li <b>indexOf(searchElement[, fromIndex = 0])</b> - Returns the first index at which a given element can be found in the array, or -1 if it is not present.
      li <b>join([separator = ','])</b> - Joins all elements of an array into a string
      li <b>lastIndexOf(searchElement[, fromIndex = arr.length])</b> - Returns the last index at which a given element can be found in the array, or -1 if it is not present. The array is searched backwards, starting at fromIndex.
      li <b>pop()</b> - Removes the last element of an array, and returns that element
      li <b>push()</b> - Adds new elements to the end of an array, and returns the new length
      li <b>reverse()</b> - Reverses the order of the elements in an array
      li <b>shift()</b> - Removes the first element of an array, and returns that element
      li <b>slice()</b> - Selects a part of an array, and returns the new array
      li <b>sort()</b> - Sorts the elements of an array
      li <b>splice()</b> - Adds/Removes elements from an array
      li <b>toString()</b> - Converts an array to a string, and returns the result
      li <b>unshift()</b> - Adds new elements to the beginning of an array, and returns the new length
      li <b>valueOf()</b> - Returns the primitive value of an array
