template(name='list')
  a.bookmark(id='listBk')
  .section
    h1 .list Method
    p It returns a reactive source of the array. An array variable isn't reactive by itself, you need to execute a function with dependency.depend() for Meteor to recognize it as a reactive source. The .list() method does just that.
    p .depend and .list are synonyms. The reason for providing two methods that perform the same function is that sometimes it makes more sense to say "get me the (reactive) list of items in the array" and other times "this autorun depends on that array".
    pre.
      reactiveArray.list()

  .section
    h2 Example
    ul.nav.nav-pills
      li.active
        a(href="#list-coffee", data-toggle="tab") Coffeescript
      li
        a(href="#list-js", data-toggle="tab") Javascript
    div.tab-content
      div#list-coffee.tab-pane.fade.active.in
        pre.
          names = new ReactiveArray ['Tom', 'Dick', 'Harry']

          Template.list.helpers
            names: -> <b>names.list()</b>

      div#list-js.tab-pane.fade
        pre.
          var names = new ReactiveArray(['Tom', 'Dick', 'Harry']);

          Template.list.helpers({
            names: function() {
              return names.list();
            }
          });
